@import "kpmp-base.scss";
@import "common-values.scss";

#search-for-gene {
	.ant-select-auto-complete.ant-select .ant-input {
		height: 38px !important;
	}
}

#title-text {
	font-size: 20px;
	font-weight: 500;
	@media only screen and (max-width: 767px) {
		display: none;
	}
}

#gene-summary-page {

	background: #FAFBFC;

	#gene-summary-page-header {
		padding-top: 20px;
	}

	#gene-summary-page-header-text {
		font-weight: bold;
		font-size: large;
		margin-top: 5px;
	}

	#gene-summary-plots {
		margin-top: 25px;
	}

	#gene-summary-legend-row {
		padding-bottom: 20px;
	
	}

	#gene-summary-legend {

		#gene-summary-legend-title {
			font-weight: bold;
		}

		ul {
			list-style-type: none;
			padding-left: 0px;
		}
	}
}

.gene-summary-plot {

	margin-bottom: 20px;

	.dataset-name {
		font-weight: bold;
	}

	.tis-name {
		font-style: italic;
	}
}
