body {
  font-size: 14px; }

#footer {
  background: #283C5E; }

#navbar {
  background-color: white;
  border-bottom: 1px solid #e7e7e7; }
  #navbar .navbar-header {
    text-decoration: none !important; }
    #navbar .navbar-header .navbar-brand img.logo {
      width: 80px;
      min-width: 80px; }
  #navbar #nav-user-dropdown-menu a:hover {
    text-decoration: none !important; }

.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important; }

#root {
  position: relative;
  overflow-y: scroll;
  /* xs to sm */
  top: calc(59px);
  height: calc(100vh + 10px - 59px - 32px);
  /* md and up */ }
  @media (min-width: 768px) {
    #root {
      top: calc(59px);
      height: calc(100vh + 10px - 59px - 32px); } }

#oops-content {
  margin-top: 150px; }
  #oops-content .oops-big {
    font-size: 72px; }
  #oops-content .oops-small {
    font-size: 32px; }
  #oops-content #oops-image {
    width: 385px;
    height: 330px; }

#title-text {
  font-size: 20px;
  font-weight: 500;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    #title-text {
      display: none; } }

#gene-summary-page {
  background: #FAFBFC; }
  #gene-summary-page #gene-summary-page-header {
    padding-top: 20px; }
  #gene-summary-page #gene-summary-page-header-text {
    font-weight: bold;
    font-size: large;
    margin-top: 5px; }
  #gene-summary-page #gene-summary-plots {
    margin-top: 25px; }
  #gene-summary-page #gene-summary-legend #gene-summary-legend-title {
    font-weight: bold; }
  #gene-summary-page #gene-summary-legend ul {
    list-style-type: none; }

.gene-summary-plot {
  margin-bottom: 20px; }
  .gene-summary-plot .dataset-name {
    font-weight: bold; }
  .gene-summary-plot .tis-name {
    font-style: italic; }
