@import "common-values.scss";

body {
	font-size: 14px;
}

#footer {
	background: $footer-color;
}

#navbar {
	background-color: white;
	border-bottom: 1px solid #e7e7e7;

	.navbar-header {

		text-decoration: none !important;

		.navbar-brand img.logo {
			width: 80px;
			min-width: 80px;
		}
	}

	a.dropdown-toggle {

	}

	#nav-user-dropdown-menu {
		a:hover {
			text-decoration: none !important;
		}
	}
}

.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

#root {
	position: relative;
	overflow-y: scroll;

	/* xs to sm */
	top: calc(#{$header-height-padded});
	height: calc(100vh + 10px
		- #{$header-height-padded}
		- #{$footer-height-padded});

	/* md and up */
	@media (min-width: 768px) {
		top: calc(#{$header-height-padded});
		height: calc(100vh + 10px
			- #{$header-height-padded}
			- #{$footer-height-padded});
	}
}

#oops-content {

	margin-top: 150px;

	.oops-big {
		font-size: 72px;
	}

	.oops-small {
		font-size: 32px;
	}

	#oops-image {
		width: 385px;
		height: 330px;
	}
}

